:root {
  --sidebar-base-height: 20%;
}

.closed {
  display: none;
}

.closed.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--sidebar-base-height);
  background-color: var(--dark-purple);
  transition: all .25s ease-in-out;
  overflow: hidden;
}

.closed.sidebar .form-profileInfo {
  display: flex;
  flex-direction: row;
  padding: 12px 0px;
}

.closed.sidebar .form-profileInfo .div_profilePicture input[type='file'] {
  display: none;
}

.closed.sidebar .form-profileInfo .div_profilePicture .max-width {
  max-width: 500px;
  width: 100%;
}

.closed.sidebar .form-profileInfo .div_profilePicture #imgPhoto {
  margin-top: 10%;
  width: 120px;
  height: 120px;
  padding:10px;
  background-color: #eee;
  border: 2px solid rgb(110, 110, 110);
  border-radius: 50%;
  cursor: pointer;
  transition: background .3s;
}

.closed.sidebar .form-profileInfo .div_profilePicture #imgPhoto:hover{
  background-color: rgb(180, 180, 180);
}

.closed.sidebar .form-profileInfo .div_userName {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  margin-left: 10px;
}

.closed.sidebar .form-profileInfo .div_userName .user-fullName {
  font-size: 18px;
}

.closed.sidebar .form-profileInfo .div_userName .button-logOut {
  padding: 6px 12px;
  width: fit-content;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  color: #000;
}

.closed.sidebar .form-profileInfo .div_userName .button-logOut i {
  margin-left: 8px;
  color: #000;
}

.closed.sidebar .form-profileInfo div.input {
  padding: 10px 0px;
  max-height: 26px;
  background-color: rgb(81 39 94);
  border-radius: 5px;
  align-items: center;
  border: 1px solid rgb(50, 2, 56);
  display: flex;
}

.closed.sidebar .form-profileInfo div.input span {
  padding: 14px 10px;
  border-radius: 5px 0px 0px 5px;
  white-space:nowrap;
  border-right: 1px solid rgb(50, 2, 56);
  font-size: 14px;
}

.closed.sidebar .form-profileInfo div.input .span_goal {
  background: transparent;
  border: none;
}

.closed.sidebar .form-profileInfo div.input input {
  background: transparent;
  border: none;
  width: 100%;
  text-indent: 12px;
  font-size: 14px;
  font-weight: 600;
  outline: none;
}

.closed.sidebar .form-profileInfo .div_editBtn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  margin-left: 25px;
}

.closed.sidebar .form-profileInfo .div_editBtn .div_inputGroups {
  display: flex;
  gap: 25px;
}

.closed.sidebar .form-profileInfo .div_editBtn button {
  padding: 6px 12px;
  width: fit-content;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  color: #000;
  
}

.closed.sidebar .form-profileInfo .div_editBtn button i {
  margin-left: 8px;
  color: #000;
}
