@import '/src/screens/theme/theme.css';

@import url('/src/screens/theme/body.css');

@import url('/src/screens/components/navbar.css');

body{
background: linear-gradient(
    rgb(33, 1, 48) 0%, 
    rgb(62, 3, 85) 35%, 
    rgb(185, 125, 235) 100%
  );
}

aside, .col-2 {
    width: 50%;
}
.col-2 .criar-perfil {
    font-weight: 100;
}

main{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 3em;
}

h2{
    font-weight: 500;
    font-size: 56px;
    line-height: 1em;
    padding-bottom: 20px;

}

span{
    color: rgb(189, 152, 211);
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: 'Poppins', sans-serif;
}


form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.criar-perfil input{
    background-color: rgb(244, 241, 247);
    border: 0.3px solid rgb(212, 179, 230);
    padding-left: 22px;
    width: 80%;
}

.criar-perfil input:focus{
    outline: none;
}

.btn-group button {
    background-color:rgb(59, 0, 94);
    border: none;
    color: white;
    width: 456px;
}

.criar-perfil input, .btn-group button{
    height: 45px;
    border-radius: 8px;
}

.btn-group {
    margin-top: 35px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.btn-group span{
    font-weight: 500;
    color: var(--dark-purple);
}

.col-2 .criar-perfil .cadastrar{
   text-align: center;
}

.nome, .cpf , .email, .senha, .iestadual{
    margin-top: 15px;
}

.nome{
    margin-top: 35px;
}

#botaoCadastro {
    background: transparent;
    border: solid 2px var(--purple);
    color: var(--purple);
    font-weight: 500;
}

#botaoCadastro:hover {
    background: var(--dark-purple);
    color: white;
    border: solid 2px var(--dark-purple);
}
