@import '/src/screens/theme/theme.css';

@import url('/src/screens/theme/body.css');

@import url('/src/screens/components/navbar.css');

body {
    background: linear-gradient(rgb(33, 1, 48) 0%,
            rgb(62, 3, 85) 35%,
            rgb(185, 125, 235) 100%);
}

.container {
    width: 100%;
    margin-top: 0;
}

aside,
.col-2 {
    width: 100%;
}

.col-2 .criar-perfil {
    font-weight: 100;
    width: 100%;
}

aside {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

aside img {
    width: 100%;
}

main {
    width: 70%;
    align-items: center;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 3em;
    gap: 100px;
}

h2 {
    font-weight: 500;
    font-size: 35px;
    line-height: 1em;
    padding-bottom: 20px;
    color: rgb(189, 152, 211);
    margin-top: 25px;

}

span {
    color: rgb(189, 152, 211);
}

p {
    line-height: 20px;
    max-width: 500px;
    font-family: 'Poppins', sans-serif;
}


form .criar-perfil {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px rgba(65, 27, 85, 0.325);
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 30px;
}

.criar-perfil input {
    width: 80%;
    height: 45px;
    border-radius: 8px;
    background-color: rgb(244, 241, 247);
    border: 0.3px solid rgb(212, 179, 230);
    padding-left: 22px;
}

.criar-perfil input:focus {
    outline: none;
}


.btn-group button, .btn-group a {
    background-color: rgb(59, 0, 94);
    border: none;
    width: 80%;
    border-radius: 8px;
    color: white;
    padding: 10px 0;
}

.btn-group {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.btn-group span {
    font-weight: 500;
    color: var(--dark-purple);
}

.col-2 .criar-perfil .cadastrar {
    text-align: center;
}

.nome,
.cpf,
.email,
.senha,
.iestadual {
    margin-top: 15px;
}

.nome {
    margin-top: 35px;
}

#botaoCadastro {
    background: transparent;
    border: solid 2px var(--purple);
    color: var(--purple);
    font-weight: 500;
    text-decoration: none;
    color: rgb(227, 207, 233);
    font-size: 14px;
    box-sizing: border-box;
}

#botaoCadastro:hover {
    background: var(--dark-purple);
    color: rgb(255, 255, 255);
    border: solid 2px var(--dark-purple);
}

.iconsLogin {
    font-size: 25px;
    align-items: center;
    gap: 20px;
}

.iconsLogin .fa-github {
    color: rgb(234, 229, 236);
    border:rgb(59, 0, 94)solid 1px;
    background-color: rgb(59, 0, 94);
    padding: 5px;
    border-radius: 8px;
}

.iconsLogin .fa-google {
    color: rgb(234, 229, 236);
    border:rgb(59, 0, 94) solid 1px;
    background-color: rgb(59, 0, 94);
    padding: 5px;
    border-radius: 8px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1060;
    height: 100%;
    outline: 0;
    /* display: none; */
  }
  
  .modal-fade {
    transition: opacity .15s linear;
    background-color: rgba(0,0,0,.2);
    width: 100%;
  }
  
  .modal.show .modal-dialog {
    transform: none;
    display: flex;
    justify-content: center;
  }
  
  .modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0,-50px);
  }
  
  .modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
    top: 10%;
  }
  
  .modal-content {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 2em;
    pointer-events: auto;
    background-color: rgb(62, 3, 85);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
    top: 50%;
    overflow-y: scroll;
  }
  


.close-modal-btn {
position: relative;
background-color: transparent;
width: 32px;
height: 32px;
border: none;
right: 0;
top: 0;
}
  
.close-modal-btn i {
font-size: 25px;
}


@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(23, 1, 37)
}

#form {
    position: relative;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 40px;
    width: min-content;
    align-items: center;
    color: rgb(189, 152, 211);
}


.input {
    border-radius: 22px;
    border: 1px rgb(189, 152, 211) solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23815A8C" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
  }

.input i {
    font-size: 1.2em;
    padding: 5px;

}

#colunas {
    padding-bottom: 12px;
}

.input input {
    width: 80%;
    border: none;
    outline: none;
    background-color: rgb(62, 3, 85);
    font-family: 'Poppins', sans-serif;
    transform: translateY(-10%);
    color: rgb(189, 152, 211);
    font-size: 15px;

}

#colunas {
    display: flex;

}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

p {
    background-color: rgb(128, 8, 88);
    text-align: center;
    justify-content: space-between;
    margin: 5px;
    border-radius: 22px;
    font-size: 12px;
}

#btn {
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

#btn button {
    font-family: 'Poppins', sans-serif;
    background: rgb(189, 152, 211);
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.2em;
    color: rgb(62, 3, 85);
    border-radius: 20px;
    outline: none;

}
