* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.container {

}

.averages {

}

.card {

}

.card-header {

}

.card-title {

}

.card-body {

}

.card-body.value {

}

.charts {

}

.chart {
  
}